
* {
    box-sizing: border-box;

}

body {
    font-family: 'Nunito', sans-serif;
    /* background-color: #efefef; */
}

.main {
    text-align: center;
    margin: 3rem;
    
}

h1 {
    font-size: 2.5rem;
}

.input-label {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem ;
}

.input {
    
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    max-width: 258px;
    width: 100%;

}

#show-btn {
    border: none;
    padding: 0.7rem 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    margin-top: 2rem;
    display: block;
}


a {
    text-decoration: none;
    color: black;
}

#footer {
    width: 100%;
    min-height: 6vh;
    position: fixed;
    bottom: 0.5rem;   
}

.footer-list {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    
}

.list-item-index {
    list-style: none;
    font-size: 2rem;
    /* padding: 10rem 1rem 0rem; */
    padding: 0.5rem 1rem;
    
}

.output {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

img {
    width: 100%;
    height:300px;
}